:root {
  --dark: gray;
  --red: red;
}

body {}

header {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

footer {
  font-family: 'Dancing Script', cursive;
}

.red-glow {
  text-shadow: 0px 0px 5px red;
}

.box-outline {
  border-color: gold;
  border-style: solid;
}